@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

.dark {
  --bg-main: #09090b;
  --bg-card: #18181b;
  --text-main: #fafafa;
  --text-muted: #a1a1aa;
  --border: #27272a;
}

:root {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
}
